@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";

.NavigationItems{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    align-items: center;
    height:100%;
}

%NavigationItemsWithRow{
    @extend .row;
}

@media (max-width: 499px) {
    .NavigationItem {
        width: 100%;
    }

    .NavigationItems {
        @extend %NavigationItemsWithRow;
    }
}